<html>
  <head>
    <meta charset="UTF-8">
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous">
    </script>
    <title>Food Finderrrr</title>
  </head>
  <body>
  Hi, let's find food

  <button onclick="getLocation()">Try me!</button>

  <p id="demo"></p>

  <script>
  var x = document.getElementById("demo");

  function getLocation() {
      if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(showPosition);
      } else {
          x.innerHTML = "Geolocation is not supported by this browser.";
      }
  }
  function metersConvert(meters) {
    return Number((meters / 1609.344).toFixed(2));
  }
  // functional note: consider storing full yelp API business array for location and select
  // random food place "on click" so we're not hitting the yelp API every click
  function showPosition(position) {
    $.ajax({
        url: "http://localhost:3000/data?lat=" + position.coords.latitude + "&long=" + position.coords.longitude,
        type: 'GET',
        dataType: 'json', // added data type
        success: function(res) {
          var m = metersConvert(res.distance);
            x.innerHTML = "Name: " + res.name +
            "<br>Distance: " + m + " Miles";
            // console.log(res);
        }
    });
  }
  </script>
  </body>
</html>
